@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



                                   /*************  I N D E X  *************/

html {
  height: 100%;
}

.index-general {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.index-contenu {
  padding: 0px 100px 150px 100px;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif"";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 968px) {
  .index-contenu {
    padding: 0px 40px 250px 40px;
  }
}

@media screen and (max-width: 768px) {
  .index-contenu {
    padding: 0px 20px 250px 20px;
  }
}


                                   /*************  H E A D E R  *************/

header {
  display: inline-flex;
  padding: 40px 100px 68px 100px;
}

.header-logo {
  height: 68px;
}

nav {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  gap: 50px;
}

.header-nav {
  color: #ff6060;
  margin: auto 0px;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  border-bottom: 2px solid transparent;
}

.header-nav:hover {
  border-bottom: 2px solid #ff6060;
}

@media screen and (max-width: 968px) {
  header {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px 20px 30px 20px;
  }
  .header-logo {
    height: 42px;
  }

  .header-nav {
    font-size: 12px;
  }

  nav {
    gap: 10px;
  }
}

                                  /*************  F O O T E R  *************/



.footer-container{
  height: 210px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-logo{
  margin-top: 66px;
}

.footer-text{
  font-size: 24px;
  font-family: "Montserrat";
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer-text {
    font-size: 14px;
    margin-top: 10px;
  }
}


                                   /*************   P A G E   H O M E  *************/


.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.home-logement {
  max-width: 100%;
  padding: 56px 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}

.home-link {
  display: flex;
  width: 340px;
}

@media screen and (max-width: 1420px) {
  .home-logement{
    flex-direction: column;
  }

  .home-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 340px;
  }
}

.card {
  position: relative;
  min-width: 340px;
  min-height: 340px;
}

.card-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 10px;
}

.card-title {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .card {
    min-height: 225px;
    min-width: 100px;
  }
}



                                   /*************  P A G E   N O T  F O U N D  *************/

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.error404 h1 {
  color: #ff6060;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  margin : 0px;
  margin-top: 200px;
}

.error404 h2 {
  color: #ff6060;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  line-height: 51.34px;
  padding-bottom: 180px;
}

.error404-link {
  color: #ff6060;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 25.67px;
  text-decoration-line: underline;
}

@media screen and (max-width: 768px) {
  .error404 h1{
    font-size: 96px;
    line-height: 136px;
  }

  .error404 h2 {
    width: 260px;
    font-size: 18px;
    line-height: 25.67px;
  }

  .error404-link {
    font-size: 15px;
    line-height: 19.96px;
  }
}

                                   /*************  P A G E  A  P R O P O S  *************/

.about-dropdown {
  padding: 0 110px;
}

@media screen and (max-width: 968px) {
  .about-dropdown {
    padding: 0;
  }
}

                                   /*************  D R O P D O W N  *************/


.dropdown {
  width: 100%;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 34.22px;
  border-radius: 5px;
  background: #f7f7f7;
  margin-bottom: 30px
}

.dropdown-conteneur-titre {
  width: 100%;
  height: 52px;
  font-weight: 500;
  color: #ffffff;
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  background: #ff6060;
  border-radius: 5px;
}

.dropdown-titre {
  width: 100%;
  justify-content: space-between;
  padding-left: 18px;
}

.dropdown-fleche-img {
  text-align: center;
  align-items: center;
  height: 24px;
  padding-right: 16px;
}

.dropdown-fleche-img.true {
  justify-content: start;
  transform: rotateX(180deg);
}

.dropdown-contenu {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 20px;
  font-weight: 400;
  color: #ff6060;
}


@media screen and (max-width: 968px) {
  .dropdown {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-conteneur-titre {
    height: 30px;
  }
  
  .dropdown {
    font-size: 13px;
    line-height: 18.54px;
  }

  .dropdown-fleche-img {
    height: 16px;
    padding-right: 3px;
  }

  .dropdown-contenu {
    padding: 15px 6px 15px 10px;
  }
}




                                   /*************  B A N N I E R E  *************/

.banniere {
  position: relative;
  height: 223px;
  margin-bottom: 43px;
}

.banniere-img {
  position: absolute;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banniere-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 25px;
  height: 100%;
  opacity: 0.3;
}

.banniere-text {
  color: #ffffff;
  font-family: "Montserrat";
  width: 705px;
  font-weight: 500;
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);    /* Pour que le texte apparaisse sur l'image */
}

@media screen and (max-width: 970px) {
  .banniere-home {
    position: relative;
    height: 160px;
    margin-bottom: 43px;
  }

  .banniere-text {
    font-size: 36px;
    left: 60%;
  }
}

@media screen and (max-width: 768px) {
  .banniere-home {
    position: relative;
    height: 111px;
    margin-bottom: 43px;
  }

  .banniere-text {
    font-size: 24px;
    left: 35%;
  }

  .banniere-img {
    border-radius: 10px;
  }

  .banniere-gradient {
    border-radius: 10px;
  }
}

                                    /*************  C A R O U S E L  *************/

.slider {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
}

.slider-image {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}

.slider-fleche-gauche {
  height: 79.2px;
  position: absolute;
  top: 42%;
  left: 2%;
  display: flex;
  flex-direction: row;
}

.slider-fleche-droite {
  height: 79.2px;
  position: absolute;
  top: 42%;
  right: 2%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 968px) {
  .slider {
    height: 225px;
    border-radius: 10px;
  }

  .slider-image {
    height: 225px;
  }

  .slider-fleche-gauche {
    top: 35%;
  }

  .slider-fleche-droite {
    top: 35%;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    padding-top: 40px;
  }

  .slider-fleche-gauche {
    height: 19.8px;
    top: 52%;
    left: 1%;
  }

  .slider-fleche-droite {
    height: 19.8px;
    top: 52%;
    right: 1%;
  }
}



                                    /*************  P A G E   L O G E M E N T  *************/
.logement-padding {
  padding-top: 24px;
}

.logement-titre {
  margin: 0px;
  padding-right: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  display: flex;
  flex-direction: row;
  color: #ff6060;
}

.logement-ville {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #ff6060;
}

.logement-host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logement-host-etoiles {
  display: flex;
  flex-direction: column;
}

.logement-tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0 24px 0;
}

.logement-dropdown {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding-top: 30px;
}

li {
  list-style-type: none;   /* pour retirer les points de la liste */
}

.logement-description-contenu {
  width: 100%;
}

.logement-equipement-contenu {
  width: 100%;
}

@media screen and (max-width: 968px) {
  .logement-dropdown {
    padding-top: 16.5px;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .logement-titre {
    font-size: 18px;
    line-height: 26px;
  }

  .logement-ville {
    font-size: 14px;
    line-height: 20px;
  }

  .logement-host {
    flex-direction: column;
  }

  .logement-host-etoiles {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .logement-tags {
    padding: 10px 0 16.5px 0;
    width: 100%;
  }
}

                                    /*************  H O S T  *************/


.host {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 25px;
}

.host-picture {
  height: 64px;
  border-radius: 100%;
  object-fit: cover;
}

.host-name {
  display: flex;
  width: 93px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 25.67px;
  text-align: right;
  padding-right: 10px;
  color: #ff6060;
}


@media screen and (max-width: 768px) {
  .host-picture {
    height: 32px;
  }

  .host-name {
    width: 60px;
    font-size: 12px;
    line-height: 17.11px;
  }
}

                                    /*************  R A T I N G  *************/

.rating {
  display: flex;
  gap: 10px;
}

.rating-etoile {
  height: 30px;
}

@media screen and (max-width: 768px) {
  .rating {
    gap: 5px;
  }

  .rating-etoile {
    height: 15px;
  }
}

                                    /*************  T A G S  *************/

.tag-container {
  display: inline-flex;
  padding: 3px 30px;
  border-radius: 10px;
  background: #ff6060;
}

.tag-contenu {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 19.96px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .tag-container {
    padding: 2px 0px;
    border-radius: 5px;
  }

  .tag-contenu {
    font-size: 10px;
    line-height: 14.26px;
    padding: 0 15px;
  }
}